.section {
    margin-top: 5px;
    background-color: black;
    height: 100vh;
  }
  .container {
    text-align: center;
    color: white;
    line-height: 60px;
    padding-top: 100px;
    /* position: absolute; */
    /* background-color: black; */
    z-index: -2;
    font-size: 18px;
    padding-bottom: 80px;
    margin: 10px 10px;
  }
  .video {
    width: 65%;
    position: absolute;
    z-index: 1;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img {
    width: 100%;
    z-index: 2;
    position: relative;
  }
  .box {
    position: relative;
  }
  .title{
    font-size: 2rem;
  }
  @media screen and (min-width: 690px){
    .title{
      font-size: 3rem;
    }
    .container{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      line-height: 60px;
    }

  }