.section {
    margin-top: 5px;
    background-color: black;

  }
  .container {
    text-align: center;
    color: white;
    line-height: 60px;
    padding-top: 100px;
    /* position: absolute; */
    /* background-color: black; */
    z-index: -2;
    font-size: 18px;
    padding-bottom: 80px;
    margin: 10px 10px;
  }
  .img {
width: 100%;

  }

  .title{
    font-size: 2rem;
  }

  @media screen and (min-width: 690px){
    .title{
      font-size: 3rem;
    }
    .container{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      line-height: 60px;
    }

  }