body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #0a2d4d;
  color: white;
  font-size: larger;
  font-weight: bolder;
}

.password {
  width: 756px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #0a253c;
  width: 756px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

input{
    margin-left: 10px;
}

label {
    font-size: medium;
}
.length{
    width: 100px;
    height: 20px;
}

.list{
    text-align: center;
    font-size: x-large;
}
li{
    list-style: none;
    font-size: medium;
    font-weight:400;
}

.box2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
background-color: white;
border: 0.5px solid #0a253c;
border-radius: 5px;
width: 100px;
height: 30px;
color: black;
font-weight:bolder;
}
