.section{
    background-color: black;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.container {
    margin-top: 60px;
    line-height: 40px;
    padding-bottom: 80px;
    margin: 10px 10px;
}
.box {
    width: 100%;
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img{
    width: 100%;
}
.title{
    font-size: 2rem;
}
.ractangular {
    width: 80%;
    height: 70px;
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    line-height:normal;
    text-align: left;
   position: absolute;
   background-color: black;
   margin-top: 190px;
}
.cover{
    height: 85%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.downloading{
    color:rgb(0, 113, 235);
    font-size: smaller;
}

.text{
    margin-left: -40px;
}

.loader {
 
    border: 5px solid grey;
    border-radius: 50%;
    border-top: 5px solid rgb(0, 113, 235);;
    width: 20px;
    height: 20px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @media screen and (min-width: 690px){
    .ractangular{
        width: 250px;
    
    }
  }
  @media screen and (min-width: 1024px){
    .ractangular{
        width: 300px;
    
    }
  }
  @media screen and (min-width: 690px){
    .title{
      font-size: 3rem;
    }
    .container{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items:center;
      line-height: 60px;
    }

    .img{
        width: 80%;
    }
    .box{
        width: 70%;
    }
  }