.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  width: 70%;
  min-height: 600px;
  border: 1px solid grey;
}
.containerLeft{
  width: 50%;
  min-height: 100%;
  text-align: center;
  border-right: 1px solid grey;
}
.containerRight{
  width: 50%;
  min-height: 100%;
  text-align: center;
  border-left: 1px solid grey;
}
button {
  margin-top: 30px;
  background-color: grey;
  border: none;
  box-shadow: none;
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
button:hover{
  background-color: rgba(128, 128, 128, 0.223);
  transition-duration: 0.25s;
  border: 0.5px solid white;
}
.karve{
min-width: 40%;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.karve:hover{
  background-color: grey;
  transition-duration: 0.25s;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}